﻿@page
@model eStore.Pages.Membermaster.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Password)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Member.MemberId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
