﻿@page
@model eStore.Pages.Membermaster.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Country)
        </dd>
 
 
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Member?.MemberId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
