﻿@page
@model eStore.Pages.Membermaster.UpdateProfileModel

@{
	ViewData["Title"] = "UpdateProfile";
}

<h1>UpdateProfile</h1>

<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="email" class="control-label"></label>
				<input asp-for="email" class="form-control" />
			</div>
			<div class="form-group">
				<label asp-for="password" class="control-label"></label>
				<input type="password" asp-for="password" class="form-control" />
			</div>
			<div class="form-group">
				<label asp-for="company" class="control-label"></label>
				<input asp-for="company" class="form-control" />
			</div>
			<div class="form-group">
				<label asp-for="city" class="control-label"></label>
				<input asp-for="city" class="form-control" />
			</div>
			<div class="form-group">
				<label asp-for="country" class="control-label"></label>
				<input asp-for="country" class="form-control" />
			</div>
			<div class="container">
				<span style="color: green">@Model.succesMessage</span>
			</div>
			<div class="form-group mt-3">
				<input type="submit" onClick="success()" value="Save" class="btn btn-primary" />
			</div>
			
		</form>
	</div>
</div>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
