﻿@page
@model eStore.Pages.Productmaster.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.UnitPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.UnitPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.UnitInStock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.UnitInStock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.CategoryId)
        </dt>
        <dd class="col-sm-10">
             <input disabled asp-for="Product.CategoryId" class="form-control" asp-items="ViewBag.CategoryId">
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Product?.ProductId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
